{% extends "customerBase.html.twig" %}

{% block title %}Your shopping cart!
{% endblock %}

{% block link %}
	<link href="{{asset('css/landingPage.css')}}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
{% endblock %}

{% block body %}

	<table class="table text-center">
		<thead>
			<tr>
				<th>Order ID</th>
				<th>Product</th>
				<th>Product Price</th>
				<th>Product Quantiy</th>
				<th>Total</th>
				<th>Action</th>

			</tr>
		</thead>
		{% set sum = 0 %}
		<tbody>
			{% for order in orders %}
				<tr>
					<td>{{order.id }}
					</td>
					{% for product in order.orderDetail.Product %}
						<td>{{product.ProductName}}</td>
					</td>
					<td>{{order.orderDetail.DetailPrice}}</td>
					<td>{{order.orderDetail.DetailQuantity}}</td>
					<td>{{order.orderDetail.DetailTotal}}</td>

				{% endfor %}
				{% set sum = order.orderDetail.DetailTotal + sum %}

				<td>
					<a class="btn btn-danger" href="{{ path('cart_delete_order_by_id', {'id' : order.id }) }}">
						DELETE
					</a>
				</td>
			</tr>
		{% endfor %}
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td>
				Total payment :
				{{sum}}</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>{% endblock %}
