{% block stylesheets %}
        <link href="{{ asset('css/login.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}

		<div class="wrapper fadeInDown">
			<div id="formContent">
				<!-- Tabs Titles -->
				<h2 class="active"> Sign In </h2>

				<!-- Icon -->
				<div class="fadeIn first">
					<img src="images/usericon.png" id="icon" alt="User Icon" />
				</div>

				<!-- Login Form -->
				<form>
					<input type="text" id="inputEmail" class="fadeIn second" name="email" placeholder="login">
					<input type="password" id="inputPassword" class="fadeIn third" name="password" placeholder="password">
					<input type="submit" class="fadeIn fourth" value="Log In">
				</form>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div id="formFooter">
					<a class="underlineHover" href="/register">Register new account</a>
				</div>

			</div>
		</div>
	</form>
{% endblock %}
