{% extends "customerBase.html.twig" %}


{% block link %}
    <link rel="stylesheet" href="{{asset('css/landingPage.css')}}">  
    <link rel="stylesheet" href="{{asset('css/grid.css')}}">  
{% endblock %}
{% block body %}
  
   <div class="grid wide">
          
         
         
               <div class="row">
            {% for category in categories %}
                    <div class="col col-2">
                        <div class="category_card">
                        <img class="category__image" src="{{asset('images/cover.png')}}" alt="">
                        <div>{{category.CategoryName }}</div>  
                        <a type="button" href="{{ path('landing_page_view_category', {'id' : category.id }) }}" class="btn btn-info">Explore more</a>
                        
                    </div>
                </div>
                  
            
            {% endfor %}    
               </div>
          
    
   </div>
{% endblock %}