{% extends "customerBase.html.twig" %}


{% block link %}
    <link rel="stylesheet" href="{{asset('css/categoryDetail.css')}}"> 
    <link rel="stylesheet" href="{{asset('css/grid.css')}}">  
{% endblock %}
{% block body %}
  
   <div class="grid wide">
          
         
         
               <div class="row">
                     {% for product in category.Product %}
                <div class="col c-6 m-4 l-2"> 
                     <div class="category_card">
                        <img class="product_img" src="{{ asset('productimg/'~product.ProductImage) }}" alt="">
                        <div class="product-info">Quantity: {{product.ProductQuantity}}</div>
                        <div class="product-info">Price: {{product.ProductPrice}}$</div>
                        <a  class="button-9 link-to-product" href="{{ path('landing_page_view_product', {'id' : product.id }) }}">
                      
                     Buy now
                  </a>
                     </div>
                       
                  </div>    
                     {% endfor %}
               </div>
          
    
   </div>
{% endblock %}
