{% extends "customerBase.html.twig" %}


{% block link %}

    <link rel="stylesheet" href="{{asset('css/grid.css')}}">  
    <link rel="stylesheet" href="{{asset('css/productDetail.css')}}">
{% endblock %}
{% block body %}
  
   <div class="grid wide">
          
         
         
               <div class="row">
               <div class="product__wrapper">
                    <img class="product__img" src="{{ asset('productimg/'~product.ProductImage) }}"> 
                  
               <div class ="info-wrapper">
                    <div class="product__info">Name:  {{product.ProductName}}</div> 
                    <div class="product__info">Quantity: {{product.ProductQuantity}} units</div> 
                    <div class="product__info">Price: {{product.ProductPrice }} $</div>   
                    <div class="product__info">Description: {{product.ProductDescription}}</div> 
                    <div class="product__info">Quantity: {{form(form)}}</div> 
               </div>
               </div>
               </div>
          
    
   </div>
{% endblock %}
