{% extends "base.html.twig" %}

{% block body %}
   <div class="container">
      <table class="table text-center">
         <thead>
            <tr>
               <th>Product ID</th>
               <th>Product Name</th>
               <th>Product Quantity</th>           
               <th>Product Price</th>  
               <th>Product Image</th>  
               <th>Product Description</th>  
               <th>Category</th> 
               <th>Order Detail</th>   
            </tr>
         </thead>
         <tbody>
               <tr>
                  <td>{{product.id }} </td>
                  <td>{{product.ProductName}}</td>
                  <td>{{product.ProductQuantity}}</td>
                  <td>{{product.ProductPrice }} </td>
                  <td>
                        <img src="{{ asset('covers/'~product.ProductImage) }}" width="100" height="120">          
                  </td>
                  <td>{{product.ProductDescription}}</td>
                  <td>{{product.category.id }} </td>
                  <td>{{product.orderDetail.id}}</td>
                    
                  <td>
                     <a class="btn btn-warning" href="{{ path('edit_category', {'id' : category.id }) }}">
                        EDIT
                     </a>
                     <a class="btn btn-danger" href="{{ path('delete_category_by_id', {'id' : category.id }) }}">
                        DELETE
                     </a>
                  </td>
               </tr>
         </tbody> 
      </table>
   </div>
{% endblock %}