{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-6 mt-3 mb-3">
   <h2 class="text-center">Edit product</h2>
   <div class="col md-6"></div>
      {{ form_start (productForm) }}
         <div class="form-group">
            {{ form_label (productForm.productName)}}
            {{ form_widget (productForm.prodcutName ,
               {
                  'attr' : {'class' : 'form-control'}
               })
            }}
         </div>
         <div class="form-group">
            {{ form_label (productForm.productQuantity)}}
            {{ form_widget (productForm.productQuantity ,
               {
                  'attr' : {'class' : 'form-control'}
               })
            }}
         </div>
         <div class="form-group">
            {{ form_label (productForm.productPrice)}}
            {{ form_widget (productForm.productPrice ,
               {
                  'attr' : {'class' : 'form-control'}
               })
            }}
         </div>
         <div class="form-group">
            {{ form_label (productForm.productImage)}}
            {{ form_widget (productForm.productImage ,
               {
                  'attr' : {'class' : 'form-control'}
               })
            }}
         </div>
          <div class="form-group">
            {{ form_label (productForm.productDescription)}}
            {{ form_widget (productForm.productDescription ,
               {
                  'attr' : {'class' : 'form-control'}
               })
            }}
         </div>
          <div class="form-group">
            {{ form_label (productForm.category)}}
            {{ form_widget (productForm.category ,
               {
                  'attr' : {'class' : 'form-control'}
               })
            }}
         </div>
         <div class="form-group text-center mt-3">
            <input class="btn btn-primary" type="submit" value="Edit" />
         </div>
      {{ form_end (productForm)}}
   </div>
</div>
{% endblock %}