<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				My Symfony Website
			{% endblock %}
		</title>
		{% block stylesheets %}
			<!-- CSS only -->
			<link href="{{ asset('css/customerbase.css') }}" rel="stylesheet" texttype="text/css">
		{% endblock %}

		{% block link %}{% endblock %}
	</head>
	<body>
		{% block nav %}
			<div class="fullWidth header" style="overflow=visible">
				<div class="container">
					<div class="col-xs-12 col-sm-2 col-md-3 col-md-offset-1 col-lg-4 col-lg-offset-1 header-logo header-logo-name">
						<a href="#" class="header-logo-name">Tech Trade</a>
					</div>
					<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 header-nav">
						<ul>
							<li>
								<a href="{{path('landing_page_category')}}" class="header-nav-link header-nav-top-link">Home</a>
							</li>
							<li>
								<a href="#" class="header-nav-link header-nav-top-link">Category</a>
								<ul>
									{# {% for category in categories %}
																																														<li>
																																															<a href="{{path('view_category', {'id':category.id})}}" class="header-nav-link header-nav-sub-link">{{category.CategoryName}}</a>
																																														</li>
																																													{% endfor %} #}
								</ul>
							</li>
							<li>
								<a href="{{path('view_cart')}}" class="header-nav-link header-nav-top-link">Cart</a>
							</li>
							<li>
								<form action="{{path('search_product_by_name')}}" method="POST">
									<button class="btn btn-outline-success header-nav-link header-nav-top-link search-container" type="submit">
										<input type="search" name="productName" placeholder="Type..." class="search-input">Search</button>
								</form>
							</li>
						</form>
					</li>
					<li>
						<a href="{{path('app_logout')}}" class="header-nav-link header-nav-top-link">Logout</a>
					</li>
				</ul>
			</div>
		</body>
	</html>
</div></div>{% endblock %}{% block body %}{% endblock %}{% block footer %}<footer>
<div class="footer-content">
	<h3>Tech Trade</h3>
	<p>Developed with Symfony 5 framework
	</p>
</div>
<div class="footer-bottom">
	<p>copyright &copy;
		<a href="#">Tech Trade</a>
	</p>
</div></footer>{% endblock %}</body></html>
