{% extends "base.html.twig" %}

{% block body %}
   <div class="container">
      <a class="btn btn-outline-success mt-3"  href="{{ path ('add_order')}}">Add new order</a>
      <table class="table text-center">
         <thead>
            <tr>
               <th>Order ID</th>
               <th>Order user</th>
               <th>Order date</th>
               <th>Menu</th>
            </tr>
         </thead>
         <tbody>
            {% for order in orders %}
               <tr>
                  <td>{{ order.id }}</td>
                  <td> {{ order.User.id }} </td>
                  <td> {{ order.OrderDate | date('d/m/Y')}} </td>
                  <td>
                     <a class="btn btn-primary" href="{{ path('view_order', {'id' : order.id }) }}">
                        DETAIL
                     </a>
                     <a class="btn btn-warning" href="{{ path('edit_order', {'id' : order.id }) }}">
                        EDIT
                     </a>
                     <a class="btn btn-danger" href="{{ path('delete_order_by_id', {'id' : order.id }) }}">
                        DELETE
                     </a>
                  </td>
               </tr>
            {% endfor %}    
         </tbody> 
      </table>
   </div>
{% endblock %}
